.wordCloud {
  display: block;
  margin: auto;
}

.container-fluid > section:not(.active) {
  display: none;
}

.statsBlock .multicol {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
  columns: 3;
}